.content{
    margin: 0 auto;
    max-width: 960px;
    min-width: 960px;
    padding: 0 10px;
    background-color: #d4ffe7;
}

.header{
    background-color: #88e9fa;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header_left_element, .header_central_element, .header_right_element{
    background-color: #ffc694;
    height: 108px;
}

.header_left_element{
    width: 122px;
}

.header_central_element{
    width: 279px;
}

.header_right_element{
    width: 513px;
}

.hr{
    background-color: rgb(115, 255, 0);
    width: 100%;
    height: 1px;
    margin: 18px 0;
}

.main_content{
    background-color: #88e9fa;
    width: 100%;
    height: 50px;
}


.footer{
    background-color: #88e9fa;
    width: 100%;
    height: 50px;
}
